.article {
	border-bottom: none;
}

.article-img-container {
	width: 100%;
	float: none;
	margin-right: 0px;
	margin-bottom: 20px;
}

.article-img-container img {
	width: 100%;
}

.article-content {
	padding-bottom: 15px;
	line-height: 1.4em;
	font-size: 1.1em;
}

.news-article-title {
	font-size: 2.1em;
}

.additional-space-in-title {
	margin-bottom: 1.5em;
}

/**************************************************
**************************************************/