/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
/*@import url('https://fonts.googleapis.com/css?family=Arimo');*/

*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
}

.container
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px 10px 10px;
}

.container::after,
.header .first-row::after,
.header .second-row::after
{
    display: table;
    clear: both;
    content: '';
}


.header
{
    padding-top: 25px;
    color: green;
    background-color: #ccc;
    background-image: url('imgs/bak_010.jpg');
    background-repeat: no-repeat;
    background-position: 0 -15px;
    background-size: 100%;
}

.header .first-row
{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 25px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    background: rgba(255,255,255,.8);
    justify-content: space-around;
}

.header .second-row
{
    position: relative;
    margin-top: 45px;
}

.header .logo-box
{
    position: relative;
    top: 25px;
    float: left;
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
}

.header .logo-image
{
    position: absolute;
    top: -12px;
    left: 5px;
}

.header .logo-text
{
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 60px;
    color: green;
}

.header .caption-header
{
    font-size: 20px;
    float: right;
    width: 550px;
    text-align: center;
}

.header .caption-header p:last-child
{
    font-size: 45px;
    font-weight: bold;
}

.header .second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: rgba(0,0,0,0.6);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
}

.header .main-menu:after
{
    display: table;
    clear: both;
    content: '';
}

.header .languages
{
    float: right;
}

.menu,
.sub-menu,
.languages ul
{
    list-style: none;
}

.menu > li,
.languages ul li
{
    display: inline-block;
}

.header .menu {
    margin-left: 10px;
}

.menu a,
.languages a
{
    font-size: 1.1em;
    font-weight: bold;
    line-height: 22px;
    /*position: relative;*/
    display: block;
    /*margin-right: 10px;*/
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    transition: .1s linear;
    text-decoration: none;
    letter-spacing: 1px;
    color: #0ff;
}

.languages a {
    line-height: 22px;
    margin-right: 3px;
    padding-right: 2px;
    padding-left: 2px;
    letter-spacing: 1px;
}

.languages {
    padding-right: 0;
    margin-right: 0;
    margin-left: 20%;
}

.menu a:hover,
.languages a:hover {
	text-decoration: underline;
}

.header .sub-menu {
	position: absolute;
	display: none;
	z-index: 5;
}

.header .menu .submenu-holder:hover .sub-menu
{
    display: block;
    background: rgba(0,0,0, 0.9);
}

/*//////////////// Main ////////////////////*/

.main-page-title
{
    font-size: 33px;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 3px;
    padding-bottom: 3px;

    letter-spacing: 0.3em;
    text-transform: uppercase;

    border-top: 2px solid;
    border-bottom: 2px solid;
}


.articles {
	float: left;
	width: 65%;
}

.article {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid lightgray;
}

.article-img-container {
	width: 140px;
	float: left;
	margin-right: 15px;
}

.article-img-container img {
	width: 100%;
}

h2 {
    font-size: 1.12em;
}

.article-title,
.news-next a {
	text-decoration: none;
	font-size: 1.12em;
	font-weight: bold;
	color: black;
}

.article-title:hover,
.news-next a:hover {
	text-decoration: underline;
}

.clock {
	width: 13px;
	margin-top: 5px;
	opacity: 0.3;
}

.pubdate {
	display: inline;
	font-size: 13px;
	line-height: 40px;
	vertical-align: middle;
	opacity: 0.3;
}

.news-next {
    padding-top: 35px;
    text-align: center;
}

.news-next a {
    font-size: 0.9em;
}

/*//////////////////// Aside ////////////////////////*/

.aside {
	float: right;
	width: 30%;
	margin-top: 15px;
	padding-top: 10px;
}

.search-container,
.photogallery,
.useful-links {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.search-container:after,
.photogallery:after,
.useful-links:after {
	content: '';
	display: block;
	clear: both;
}


#text-input, button {
	border-radius: 5px;
	font-size: 0.9em;
}

#text-input {
	float: left;
	width: 70%;
	padding: 6px 5px;
}

button {
	float: right;
	margin-right: 0px;
	padding: 5px 10px
}

.photogallery-title,
.useful-links-title {
	padding: 10px;
}

.row {
	height: 90px;
	margin-left: 5px;
}

.row::after {
 	content: "";
 	clear: both;
 	display: table;
}

.photogallery .image-column {
	float: left;
	width: 130px;
	padding: 5px;
}

.photogallery .image-column img {
	width: 100%;
}

/*///////////////////// Footer ////////////////////////////*/

.footer {
    background: rgba(0,0,0,.6);
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-menu .footer-menu-group {
    list-style: none;
}

.footer-menu a {
    display: inline-block;
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.copyright {
    color: #fff;
}

.copyright p {
    margin-bottom: 10px;
}