*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

/*End of general styling*/

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
}